Repository checkout/checkout-api-reference, pull requests merged in 2021-08, with the labels that each got.

#380 Fixes OAuth typo in NAS spec
  nas_spec/paths/validation@bank-accounts@{country}@{currency}.yaml
Labels: NAS

#359 VLT-1914: add apple pay for nas specs
  nas_spec/components/schemas/ApplePay/ApplePayCertificateRequest.yaml
  nas_spec/components/schemas/ApplePay/ApplePayCertificateResponse.yaml
  nas_spec/components/schemas/ApplePay/ApplePaySigningRequestResponse.yaml
  nas_spec/paths/applepay@certificates.yaml
  nas_spec/paths/applepay@signing-requests.yaml
  nas_spec/swagger.yaml
Labels: NAS

#382 Fix note about incremental auths being for Mastercard only as for Visa too
  nas_spec/components/schemas/Payments/AuthorizationRequest.yaml
Labels: NAS

#354 Adding bank payout responses
  nas_spec/components/schemas/Payments/PaymentAcceptedResponse.yaml
  nas_spec/components/schemas/Payments/PaymentInstructionResponse.yaml
  nas_spec/components/schemas/Payments/PayoutAcceptedResponse.yaml
  nas_spec/paths/payments.yaml
Labels: NAS

#384 Fix note about Mastercard only in incremental auths description
  nas_spec/paths/payments@{id}@authorizations.yaml
Labels: ABC

#385 Update Paymentlinks Node example
  abc_spec/code_samples/Node/payment-links@{id}/get.js
Labels: ABC

#387 Add default capture type
  nas_spec/components/schemas/Payments/CaptureRequest.yaml
Labels: NAS

#338 Adding the two new properties for both store and update.
  nas_spec/components/schemas/Instruments/StoreBankAccountInstrumentRequest.yaml
  nas_spec/components/schemas/Instruments/UpdateBankInstrumentRequest.yaml
Labels: NAS

#393 Task/remove toby
  README.md
Labels: Both
