Repository checkout/checkout-api-reference, pull requests merged in 2021-07, with the labels that each got.

#352 Add regex back in for marketplace files
  src/OpenApiGenerator/Program.cs
  web/index.css
Labels: NAS

#335 Add customer to php post sample
  abc_spec/code_samples/PHP/payments/post.php
Labels: ABC

#344 Task/workflows secret api keys
  nas_spec/paths/customers.yaml
  nas_spec/paths/customers@{id}.yaml
  nas_spec/paths/flow/workflows/workflows.yaml
  nas_spec/paths/flow/workflows/workflows@event-types.yaml
  nas_spec/paths/flow/workflows/workflows@events@reflow.yaml
  nas_spec/paths/flow/workflows/workflows@events@subject@{subjectId}.yaml
  nas_spec/paths/flow/workflows/workflows@events@subject@{subjectId}@reflow.yaml
  nas_spec/paths/flow/workflows/workflows@events@subject@{subjectId}@workflow@{workflowId}@reflow.yaml
  nas_spec/paths/flow/workflows/workflows@events@{eventId}.yaml
  nas_spec/paths/flow/workflows/workflows@events@{eventId}@reflow.yaml
  nas_spec/paths/flow/workflows/workflows@events@{eventId}@workflow@{workflowId}@reflow.yaml
  nas_spec/paths/flow/workflows/workflows@{workflowId}.yaml
  nas_spec/paths/flow/workflows/workflows@{workflowId}@actions@{workflowActionId}.yaml
  nas_spec/paths/flow/workflows/workflows@{workflowId}@conditions@{workflowConditionId}.yaml
  nas_spec/paths/instruments@{id}.yaml
Labels: NAS

#348 NTS-341: Flow - GET event links
  nas_spec/components/schemas/Flow/events/properties/event-links.yaml
Labels: NAS

#342 PRISM: Update API Specification
  abc_spec/components/schemas/Risk/AuthenticationResult.yaml
  abc_spec/components/schemas/Risk/AuthorizationResult.yaml
  abc_spec/components/schemas/Risk/Customer.yaml
  abc_spec/components/schemas/Risk/Device.yaml
  abc_spec/components/schemas/Risk/GetRiskAssessmentsResponse.yaml
  abc_spec/components/schemas/Risk/Location.yaml
  abc_spec/components/schemas/Risk/Metadata.yaml
  abc_spec/components/schemas/Risk/PreAuthenticationAssessmentRequest.yaml
  abc_spec/components/schemas/Risk/PreAuthenticationAssessmentResponse.yaml
  abc_spec/components/schemas/Risk/PreAuthenticationDetails.yaml
  abc_spec/components/schemas/Risk/PreAuthenticationResult.yaml
  abc_spec/components/schemas/Risk/PreAuthenticationWarning.yaml
  abc_spec/components/schemas/Risk/PreCaptureAssessmentRequest.yaml
  abc_spec/components/schemas/Risk/PreCaptureAssessmentResponse.yaml
  abc_spec/components/schemas/Risk/PreCaptureDetails.yaml
  abc_spec/components/schemas/Risk/PreCaptureResult.yaml
  abc_spec/components/schemas/Risk/PreCaptureWarning.yaml
  abc_spec/components/schemas/Risk/RequestSources/CardSourcePrism.yaml
  abc_spec/components/schemas/Risk/RequestSources/CustomerSourcePrism.yaml
  abc_spec/components/schemas/Risk/RequestSources/IdSourcePrism.yaml
  abc_spec/components/schemas/Risk/RiskCardInfo.yaml
  abc_spec/components/schemas/Risk/RiskPayment.yaml
  abc_spec/components/schemas/Risk/RiskPaymentRequestSource.yaml
  abc_spec/components/schemas/Risk/RiskShippingDetails.yaml
  abc_spec/paths/risk@assessments@pre-authentication.yaml
  abc_spec/paths/risk@assessments@pre-capture.yaml
  abc_spec/swagger.yaml
  nas_spec/components/schemas/Risk/AuthenticationResult.yaml
  nas_spec/components/schemas/Risk/AuthorizationResult.yaml
  nas_spec/components/schemas/Risk/Customer.yaml
  nas_spec/components/schemas/Risk/Device.yaml
  nas_spec/components/schemas/Risk/GetRiskAssessmentsResponse.yaml
  nas_spec/components/schemas/Risk/Location.yaml
  nas_spec/components/schemas/Risk/Metadata.yaml
  nas_spec/components/schemas/Risk/PreAuthenticationAssessmentRequest.yaml
  nas_spec/components/schemas/Risk/PreAuthenticationAssessmentResponse.yaml
  nas_spec/components/schemas/Risk/PreAuthenticationDetails.yaml
  nas_spec/components/schemas/Risk/PreAuthenticationResult.yaml
  nas_spec/components/schemas/Risk/PreAuthenticationWarning.yaml
  nas_spec/components/schemas/Risk/PreCaptureAssessmentRequest.yaml
  nas_spec/components/schemas/Risk/PreCaptureAssessmentResponse.yaml
  nas_spec/components/schemas/Risk/PreCaptureDetails.yaml
  nas_spec/components/schemas/Risk/PreCaptureResult.yaml
  nas_spec/components/schemas/Risk/PreCaptureWarning.yaml
  nas_spec/components/schemas/Risk/RequestSources/CardSourcePrism.yaml
  nas_spec/components/schemas/Risk/RequestSources/CustomerSourcePrism.yaml
  nas_spec/components/schemas/Risk/RequestSources/IdSourcePrism.yaml
  nas_spec/components/schemas/Risk/RiskCardInfo.yaml
  nas_spec/components/schemas/Risk/RiskPayment.yaml
  nas_spec/components/schemas/Risk/RiskPaymentRequestSource.yaml
  nas_spec/components/schemas/Risk/RiskShippingDetails.yaml
  nas_spec/paths/risk@assessments@pre-authentication.yaml
  nas_spec/paths/risk@assessments@pre-capture.yaml
  nas_spec/swagger.yaml
Labels: Both

#357 Add get events by parameters endpoint
  abc_spec/code_samples/cURL/events/get.sh
  abc_spec/components/schemas/Events/ChargeIdInvalidResponse.yaml
  abc_spec/components/schemas/Events/Charge_Id.yaml
  abc_spec/components/schemas/Events/PaymentIdInvalidResponse.yaml
  abc_spec/components/schemas/Events/Payment_Id.yaml
  abc_spec/paths/events.yaml
Labels: ABC

#366 Fix swagger structural errors on NAS project
  nas_spec/components/schemas/Disputes/Dispute.yaml
  nas_spec/components/schemas/Disputes/ProvideEvidenceRequest.yaml
  nas_spec/components/schemas/Flow/workflows/actions/get-webhook-action.yaml
  nas_spec/components/schemas/Flow/workflows/actions/webhook-action.yaml
  nas_spec/components/schemas/Flow/workflows/conditions/source-entity-hashmap.yaml
  nas_spec/components/schemas/Instruments/UpdateInstrumentRequest.yaml
  nas_spec/components/schemas/Marketplace/Instruments/MarketplaceInstrumentReference.yaml
  nas_spec/components/schemas/Payments/BankAccountFields.yaml
  nas_spec/components/schemas/Payments/PaymentAction.yaml
  nas_spec/components/schemas/Payments/PaymentRequest.yaml
  nas_spec/components/schemas/Payments/PayoutBillingDescriptor.yaml
  nas_spec/components/schemas/Sessions/CardInfo.yaml
  nas_spec/components/schemas/Sessions/CreateSessionLinks.yaml
  nas_spec/components/schemas/Sessions/GetCompleteSessionLinks.yaml
  nas_spec/components/schemas/Sessions/GetFingerprintSessionLinks.yaml
  nas_spec/components/schemas/Sessions/GetSessionLinks.yaml
  nas_spec/components/schemas/Sessions/GetUpdateSessionLinks.yaml
  nas_spec/components/schemas/customers/RetrieveCustomerResponse.yaml
  nas_spec/components/schemas/customers/StoreCustomerRequest.yaml
  nas_spec/components/schemas/customers/UpdateCustomerDetailsRequest.yaml
  nas_spec/components/securitySchemes/ApiPublicKey.yaml
  nas_spec/components/securitySchemes/ApiSecretKey.yaml
  nas_spec/components/securitySchemes/OAuth.yaml
  nas_spec/components/securitySchemes/SessionSecret.yaml
  nas_spec/future/securitySchemas/ApiKey.yaml
  nas_spec/paths/customers@{identifier}.yaml
  nas_spec/paths/disputes@{dispute_id}@evidence.yaml
  nas_spec/paths/instruments@{id}.yaml
  nas_spec/paths/risk@assessments@pre-authentication.yaml
  nas_spec/paths/risk@assessments@pre-capture.yaml
Labels: NAS

#368 Added expired status
  abc_spec/components/schemas/Payments/Payment.yaml
  nas_spec/components/schemas/Payments/PaymentDetails.yaml
Labels: Both

#369 Add limitations for HPP and Plinks
  abc_spec/components/schemas/HostedPayments/HostedPaymentsRequest.yaml
  abc_spec/components/schemas/PaymentLinks/PaymentLinksRequest.yaml
Labels: ABC

#374 Fixed risk API sources
  abc_spec/components/schemas/Risk/RequestSources/CardSourcePrism.yaml
  abc_spec/components/schemas/Risk/RequestSources/CustomerSourcePrism.yaml
  abc_spec/components/schemas/Risk/RequestSources/IdSourcePrism.yaml
  nas_spec/components/schemas/Risk/RequestSources/CardSourcePrism.yaml
  nas_spec/components/schemas/Risk/RequestSources/CustomerSourcePrism.yaml
  nas_spec/components/schemas/Risk/RequestSources/IdSourcePrism.yaml
Labels: Both

#367 Fix ABC structural errors
  abc_spec/components/schemas/PaymentLinks/GetPaymentLinkResponse.yaml
  abc_spec/paths/customers@{identifier}.yaml
  abc_spec/paths/event-types.yaml
  abc_spec/paths/instruments@{id}.yaml
  abc_spec/paths/payment-links@{id}.yaml
  abc_spec/paths/risk@assessments@pre-authentication.yaml
  abc_spec/paths/risk@assessments@pre-capture.yaml
Labels: ABC

#378 Add processing_channel_id regex
  nas_spec/components/schemas/Disputes/PaymentData.yaml
  nas_spec/components/schemas/Forex/QuoteRequest.yaml
  nas_spec/components/schemas/Payments/PaymentRequest.yaml
  nas_spec/components/schemas/Payments/PayoutRequest.yaml
  nas_spec/components/schemas/Sessions/SessionRequest.yaml
Labels: NAS
