Repository checkout/checkout-api-reference, pull requests merged in 2022-09, with the labels that each got.

#697 Adds beta label to Reports endpoints
  nas_spec/paths/reports.yaml
  nas_spec/paths/reports@{id}.yaml
  nas_spec/paths/reports@{id}files@{fileId}.yaml
Labels: NAS

#698 Updates ProcessingData object description
  nas_spec/components/schemas/Payments/ProcessingData.yaml
Labels: NAS

#403 Adds new PTC fields
  nas_spec/components/headers/Cko-Correlation-Id.yaml
  nas_spec/components/parameters/ckoCorrelationId.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutAcceptedResponse.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutActionsResponse.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutDetails.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutRequest.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutRequestDestination.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutRequestSender.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutRequest_DestinationAccountHolderTypes/01_CardPayoutRequest_DestinationAccountHolderIndividual.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutRequest_DestinationAccountHolderTypes/01_CardPayoutRequest_DestinationTypeCardAccountHolderIndividual.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutRequest_DestinationAccountHolderTypes/02_CardPayoutRequest_DestinationAccountHolderCorporate.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutRequest_DestinationAccountHolderTypes/02_CardPayoutRequest_DestinationTypeCardAccountHolderCorporate.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutRequest_DestinationAccountHolderTypes/03_CardPayoutRequest_DestinationAccountHolderGovernment.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutRequest_DestinationAccountHolderTypes/03_CardPayoutRequest_DestinationTypeCardAccountHolderGovernment.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutRequest_DestinationTypes/01_CardPayoutRequest_DestinationTypeToken.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutRequest_DestinationTypes/02_CardPayoutRequest_DestinationTypeId.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutRequest_DestinationTypes/03_CardPayoutRequest_DestinationTypeCard.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutRequest_SenderAccountHolderTypes/01_CardPayoutRequest_SenderAccountHolderIndividual.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutRequest_SenderAccountHolderTypes/02_CardPayoutRequest_SenderAccountHolderCorporate.yaml
  nas_spec/components/schemas/CardPayouts/CardPayoutRequest_SenderAccountHolderTypes/03_CardPayoutRequest_SenderAccountHolderGovernment.yaml
  nas_spec/paths/payments.yaml
  nas_spec/paths/payments@{id}.yaml
  nas_spec/paths/payments@{id}@actions.yaml
Labels: NAS

#703 Adds note about bank_account payment instrument payout support
  nas_spec/components/schemas/Instruments/StoreBankAccountInstrumentRequest.yaml
Labels: NAS

#708 Updates email addresses to Support
  abc_spec/paths/hosted-payments.yaml
  nas_spec/paths/hosted-payments.yaml
Labels: Both

#710 Adds marketplace object replacement to description
  nas_spec/components/schemas/PaymentLinks/MarketplaceAuthPayInt.yaml
  nas_spec/components/schemas/Payments/MarketplaceAuth.yaml
  nas_spec/components/schemas/Payments/MarketplaceCapture.yaml
Labels: NAS

#597 [GTW-7065] Automated retries for SCA soft declines
  abc_spec/changelog.md
  abc_spec/components/schemas/Payments/3dsData.yaml
  abc_spec/components/schemas/Payments/3dsEnrollmentData.yaml
  abc_spec/components/schemas/Payments/3dsRequest.yaml
  nas_spec/components/schemas/Payments/3dsData.yaml
  nas_spec/components/schemas/Payments/3dsRequest.yaml
Labels: ABC, BETA

#714 Updates `amount` description for captures and refunds
  abc_spec/components/schemas/Payments/CaptureRequest.yaml
  abc_spec/components/schemas/Payments/RefundRequest.yaml
  nas_spec/components/schemas/Payments/CaptureRequest.yaml
  nas_spec/components/schemas/Payments/RefundRequest.yaml
Labels: Both

#731 Issuing: update license key
  web/index.html
  web/preview/crusoe/index.html
Labels: [DONOTMERGE]
