Repository checkout/checkout-api-reference, pull requests merged in 2023-02, with the labels that each got.

#835 chore: PX-127 Add Portuguese and Greek locale options to Hosted Payments Page and Payment Links
  .github/CODEOWNERS
  abc_spec/changelog.md
  abc_spec/components/schemas/HostedPayments/HostedPaymentsRequest.yaml
  abc_spec/components/schemas/PaymentLinks/GetPaymentLinkResponse.yaml
  abc_spec/components/schemas/PaymentLinks/PaymentLinksRequest.yaml
  nas_spec/changelog.md
  nas_spec/components/schemas/HostedPayments/HostedPaymentsRequest.yaml
  nas_spec/components/schemas/PaymentLinks/GetPaymentLinkResponse.yaml
  nas_spec/components/schemas/PaymentLinks/PaymentLinksRequest.yaml
Labels: Both

#837 Adds 255 character limit for Metadata object fields to description
  nas_spec/components/schemas/Payments/PaymentRequest.yaml
Labels: NAS

#852 PR-261: added line_of_business field to the nas payment request
  nas_spec/changelog.md
  nas_spec/components/schemas/Payments/PaymentRequestProcessingSettings.yaml
Labels: NAS

#860 Remove character from shipping_address_age enum
  nas_spec/components/schemas/Sessions/CardholderAccountInfo.yaml
Labels: NAS

#861 WRITING-1362 - Removing From and To from Events Notifications, removi…
  abc_spec/changelog.md
  abc_spec/code_samples/Java/events/get.java
  abc_spec/code_samples/Node/events/get.js
  abc_spec/code_samples/PHP/events/get.php
  abc_spec/code_samples/Python/events/get.py
  abc_spec/components/schemas/Events/Charge_Id.yaml
  abc_spec/components/schemas/Events/Payment_Id.yaml
  abc_spec/components/schemas/Webhooks/Webhook.yaml
  abc_spec/components/schemas/Webhooks/WebhookRequest.yaml
  abc_spec/components/schemas/Webhooks/WebhookRequestPatch.yaml
  abc_spec/components/schemas/Webhooks/WebhookRequestPut.yaml
  abc_spec/paths/events.yaml
Labels: ABC
